@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');
@import url('https://cdn-uicons.flaticon.com/uicons-solid-straight/css/uicons-solid-straight.css');
/* font-family: 'Roboto', sans-serif; */

.btn{
    border: none;
    outline: none;
}

:root{
    font-size: 14px;
    --bg-color: #161A1D;
    --grey: #686c70;
    --red-danger: #cc0000;
    --red-danger-hover: #ff0000;
    --blue: #4C96EA;
    --lightblue: #76B4E3;
    --gold: #E3B05F;
}

*{
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    color: white;
    overflow: hidden;
    margin: auto;
    padding: 0;
    background-color: var(--bg-color);
    width: 100vw;
    height: 100vh;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 10%;
}

.app-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 100%;
}

.app-logo img{
    width: 65%;
}

.nav-btns{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 60%;
    height: 100%;
}

.nav-btn{
    width: 150px;
    height: 30px;
    border-radius: 2px;
    transition-duration: 200ms;
}

.nav-btn:hover{
    transition-duration: 200ms;
}

.logout-btn{
    margin-left: 10px;
}

.dropdown:hover .dropdown-content{
    display: flex;
    animation: slide-down 300ms ease-in-out;
}

.dropdown-content{
    display: none;
    position: absolute;
    background-color: white;
    min-width: 150px;
    max-width: 250px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    flex-direction: column;
    justify-content: flex-start;
}

.dropdown-content a{
    text-decoration: none;
    color: black;
    padding: 5px;
}

.usr-action{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 100%;
}

header{
    display: flex;
    justify-content: flex-start;
    gap: 5%;
    background-color: var(--grey);
    width: 100%;
    height: 5%;
}

.category-name{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 100%;
    color: black;
}

main{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 100%;
}

.opt-btns{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 20vw;
    height: 100%;
    position: fixed;
    left: -17vw;
    background-color: var(--grey);
    border-top: 1px solid black;
}

.top{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 2%;
    padding-top: 40px;
    width: 100%;
    height: 75%;
}

.opt-btn{
    width: 250px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    transition-duration: 200ms;
}

.opt-btn:hover{
    transition-duration: 200ms;
}

.dropdown-opt-content{
    display: none;
    align-items: center;
    position: absolute;
    background-color: white;
    min-width: 250px;
    max-width: 250px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    flex-direction: column;
    justify-content: flex-start;
}

.active{
    display: flex;
    animation: slide-down 300ms ease-in-out;
}

.dropdown-opt-content a{
    text-decoration: none;
    color: black;
    padding: 10px;
}

.bottom{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 10%;
    padding-right: 4%;
}

.open-animation{
    animation: slide-to-right 300ms ease-in-out;
    left: 0%;
}

.close-animation{
    animation: slide-to-left 300ms ease-in-out;
}

.arrow-btn{
    background: none;
}

.fa-circle-arrow-left, .fa-circle-arrow-right{
    scale: 1.8;
}

.main-space{
    width:100%;
    height: 100%;
    padding-top: 25px;
    padding-left: 80px;
    background-color: var(--lightblue);
    overflow-y: scroll;
}

/* Workspaces */
.list-of-workspaces, .list-of-boards{
    display: flex;
    flex-direction: row;
    width: 100%;
    color: black;
    flex-wrap: wrap;
}

.workspace, .board{
    display: flex;
    flex-direction: column;
    width: 350px;
    padding: 0 10px 0 10px;
    margin: 0 15px 15px 0;
    border-radius: 5px;
    color: black;
    background-color: grey;
}

.go-to-workspace, .add-workspace{
    width: 330px;
    height: 30px;
    margin-bottom: 20px;
}

.go-to-workspace-btn, .add-workspace-btn{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    font-size: 1.5rem;
}

.go-to-workspace-btn:hover, .add-workspace-btn:hover{
    background-color: white;
}

/* Board space */

.list-of-tasks{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
    padding: 0 10px 0 10px;
    border-radius: 5px;
    color: black;
    background-color: grey;
}

.header-list{
    width: 330px;
    height: 15%;
}

.items-list{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.items-list p{
    margin: 0;
}

.task{
    min-width: 330px;
    max-width: 330px;
    max-height: 150px;
    margin-bottom: 20px;
    border-radius: 5px;
    background-color: lightgray;
}

.color-band{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 30px;
    border-radius: 5px 5px 0 0;
    padding-left: 5px;
}

.task-content{
    padding: 5px;
}

.task-content p{
    word-break: break-word;
    white-space: normal;
}

.add-task{
    width: 330px;
    height: 30px;
    margin-bottom: 20px;
}

.add-task-btn{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    font-size: 1.5rem;
}

.add-task-btn:hover{
    background-color: white;
}

/* Pageloader */

#pageLoader {
    width: 100vw;
    height: 100vh;
    background-color: lightgray;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}

#pageLoader #spanLoader1{
    border: 18px solid transparent;
    border-radius: 50%;
    border-top: 18px solid var(--bg-color);
    width: 200px;
    height: 200px;
    -webkit-animation: spin 3.5s linear infinite;
    animation: spin 3.5s linear infinite;
}

#pageLoader #spanLoader2{
    position: fixed;
    border: 13px solid transparent;
    border-radius: 50%;
    border-top: 13px solid var(--gold);
    width: 150px;
    height: 150px;
    -webkit-animation: spin-reverse 2.5s linear infinite;
    animation: spin-reverse 2.5s linear infinite;
}

#pageLoader #spanLoader3{
    position: fixed;
    border: 8px solid transparent;
    border-radius: 50%;
    border-top: 8px solid var(--lightblue);
    width: 100px;
    height: 100px;
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
}

#pageLoader #spanLoaderPercent{
    position: fixed;
    font-weight: bold;
    font-size: x-large;
    color: var(--bg-color);
}

nav, header, main{
    display: none;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@keyframes spin-reverse {
    0% { transform: rotate(0deg); }
  100% { transform: rotate(-360deg); }
}

/* Media queries */
/* @media (min-width: 480px) and (max-width: 839px) */

@media (max-width: 525px){
    main{
        flex-direction: column-reverse;
    }

    .opt-btns{
        position: unset;
        width: 100vw;
        height: 20%;
        flex-direction: column-reverse;
    }

    .bottom{
        justify-content: center;
    }

    .arrow-btn{
        rotate: 270deg;
    }

    .top{
        flex-direction: row;
        justify-content: center;
    }

    .opt-btn{
        width: 25%;
    }

    .dropdown-opt{
        min-width: 25%;
    }

    .dropdown-opt .opt-btn{
        width: 100%;
    }

    .list-of-tasks{
        width: 95%;
    }

    .header-list{
        width: 100%;
    }

    .task{
        min-width: 100%;
        max-width: 100%;
        max-height: 30%;
    }

    .add-task{
        width: 100%;
        height: 15%;
    }
}

@media (max-width: 785px){
    .app-logo{
        width: 80%;
    }

    .app-logo img{
        scale: 0.8;
    }

    .nav-btns{
        display: none;
    }

    .logout-btn{
        width: 40%;
        height: 40%;
        border-radius: 50%;
        background-image: url(/img/power-off-solid_white.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        background-color: transparent;
        font-size: 0;
    }

    header{
        padding-left: 5%;
    }

    .category-name{
        min-width: 35%;
        max-width: 100%;
    }

    .table-name{
        min-width: 35%;
        max-width: 40%;
    }

    .board-space{
        width: 100%;
        padding-top: 2%;
        padding-left: 5%;
    }
}

@media (min-width: 1100px) and (max-width: 1169px){
    .bottom{
        padding-right: 1vw;
    }
    .opt-btn{
        width: 15vw;
        height: 4vh;
    }
    .dropdown-opt-content{
        min-width: 15vw;
        max-width: 15vw;
    }
}

/* Animations */

@keyframes slide-down{
    0% {
        transform: translateY(-10px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slide-to-right{
    0% {
        transform: translateX(-15vw);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes slide-to-left{
    0% {
        transform: translateX(15vw);
    }
    100% {
        transform: translateX(0);
    }
}