@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');
@import url('https://cdn-uicons.flaticon.com/uicons-solid-straight/css/uicons-solid-straight.css');
/* font-family: 'Roboto', sans-serif; */

:root{
    font-size: 14px;
    --bg-color: #161A1D;
    --red-danger: #cc0000;
    --red-danger-hover: #ff0000;
    --blue: #4C96EA;
}

body{
    margin: auto;
    padding: 0;
    background: linear-gradient(to bottom, var(--bg-color), grey);
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    color: white;
    overflow-x: hidden;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
}

main h1, main h2{
    text-align: center;
}

main h2{
    font-weight: 300;
}

.start-panel{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.start-panel img{
    margin-bottom: 20px;
}

.reg-btn, .log-btn{
    width: 200px;
    height: 50px;
    font-size: 1.05rem;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    background-color: white;
    transition: all 300ms ease;
}

.reg-btn:hover,
.log-btn:hover{
    background-color: lightblue;
    scale: 1.01;
    transition: all 300ms ease;
    cursor: pointer;
}

.fa-user-plus,
.fa-key{
    margin-left: 5px;
}

/* Labels & Inputs */
label{
    font-weight: bold;
    margin-bottom: 5px;
}

input:not([type="checkbox"]){
    width: 300px;
    height: 20px;
    border: none;
    border-bottom: 2px solid white;
    outline: none;
    background: transparent;
}

#checkConditionInput{
    width: 40px;
    height: 40px;
}

/* end */

/* Register modal */
.reg-container{
    width: 900px;
    height: 600px;
    position: absolute;
    display: none;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    background-color: var(--bg-color);
    border-radius: 10px;
    box-shadow: 0px 0px 25px grey;
}

.register{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.info{
    width: 500px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.info img{
    width: 400px;
}

form{
    width: 400px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background: grey;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.title h1{
    text-align: center;
}

.email-reg,
.username-reg,
.password-reg,
.re-password-reg{
    width: 300px;
    display: flex;
    flex-direction: column;
}

.check-condition-reg{
    width: 300px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.buttons-reg{
    width: 300px;
    display: flex;
    justify-content: space-between;
}

#regBtn,
#clrRegBtn{
    width: 120px;
    height: 30px;
    border-radius: 10px;
    border: none;
}

#regBtn:hover,
#clrRegBtn:hover{
    cursor: pointer;
}

#closeRegBtn{
    width: 40px;
    height: 40px;
    position: absolute;
    top: 0;
    right: 0;
    border-top-right-radius: 10px;
    background-color: red;
    border: none;
}

#minimizeRegBtn{
    width: 40px;
    height: 40px;
    position: absolute;
    top: 0;
    right: 40px;
    border-bottom-left-radius: 10px;
    border: none;
}

#closeRegBtn:hover, #minimizeRegBtn:hover{
    cursor: pointer;
}

/* end */

/* Minimalized register container */
.min-reg-container{
    width: 250px;
    height: 30px;
    background-color: grey;
    display: none;
    align-items: center;
    position: absolute;
    border: 1px solid black;
    bottom: 30px;
    left: 30px;
}

.min-reg-container span{
    width: 190px;
    text-align: center;
}

.min-reg-container .buttons{
    width: 60px;
    display: flex;
    justify-content: flex-end;
}

#maximizeRegBtn, #minCloseRegBtn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    padding: 0;
    border: none;
    outline: none;
    background-color: white;
    color: black;
    border-left: 1px solid black;
}

#maximizeRegBtn:hover, #minCloseRegBtn:hover{
    cursor: pointer;
}

/* end */

/* Login modal */
.log-container{
    width: 900px;
    height: 600px;
    position: absolute;
    display: none;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    background-color: var(--bg-color);
    border-radius: 10px;
    box-shadow: 0px 0px 25px grey;
}

.login{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.info{
    width: 500px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.info img{
    width: 400px;
}

form{
    width: 400px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background: grey;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.title h1{
    text-align: center;
}

.username-log,
.password-log{
    width: 300px;
    display: flex;
    flex-direction: column;
}

.buttons-log{
    width: 300px;
    display: flex;
    justify-content: space-between;
}

#logBtn,
#clrLogBtn{
    width: 120px;
    height: 30px;
    border-radius: 10px;
    border: none;
}

#logBtn:hover,
#clrLogBtn:hover{
    cursor: pointer;
}

#closeLogBtn{
    width: 40px;
    height: 40px;
    position: absolute;
    top: 0;
    right: 0;
    border-top-right-radius: 10px;
    background-color: red;
    border: none;
}

#minimizeLogBtn{
    width: 40px;
    height: 40px;
    position: absolute;
    top: 0;
    right: 40px;
    border-bottom-left-radius: 10px;
    border: none;
}

#closeLogBtn:hover, #minimizeLogBtn:hover{
    cursor: pointer;
}

/* end */

/* Minimalized login container */
.min-log-container{
    width: 250px;
    height: 30px;
    background-color: grey;
    display: none;
    align-items: center;
    position: absolute;
    border: 1px solid black;
    bottom: 30px;
    left: 30px;
}

.min-log-container span{
    width: 190px;
    text-align: center;
}

.min-log-container .buttons{
    width: 60px;
    display: flex;
    justify-content: flex-end;
}

#maximizeLogBtn, #minCloseLogBtn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    padding: 0;
    border: none;
    outline: none;
    background-color: white;
    color: black;
    border-left: 1px solid black;
}

#maximizeLogBtn:hover, #minCloseLogBtn:hover{
    cursor: pointer;
}

/* end */

/* Media queries */
@media (max-width: 479px){
    main{
        width: 100vw;
        height: 100vh;
        font-size: .8rem;
    }

    .start-panel{
        justify-content: center;
        width: 100%;
        height: 75%;
    }

    .start-panel h2{
        margin-top: 0;
    }

    .start-panel > *:not(:last-child){
        margin-bottom: 8%;
    }

    .start-panel img{
        width: 90%;
    }
}

@media (min-width: 480px) and (max-width: 959px){
    main{
        width: 100vw;
        height: 100vh;
        font-size: .7rem;
    }

    .start-panel{
        justify-content: center;
        width: 100%;
        height: 75%;
    }

    .start-panel img{
        width: 70%;
    }
}

@media (min-width: 960px){
    main{
        width: 100vw;
        height: 100vh;
    }

    .start-panel{
        justify-content: center;
        width: 100%;
        height: 75%;
    }
}

/* end */