@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');
@import url('https://cdn-uicons.flaticon.com/uicons-solid-straight/css/uicons-solid-straight.css');
/* font-family: 'Roboto', sans-serif; */

.temp{
    color: black;
}

.btn{
    border: none;
    outline: none;
}

:root{
    font-size: 14px;
    --bg-color: #161A1D;
    --grey: #686c70;
    --red-danger: #cc0000;
    --red-danger-hover: #ff0000;
    --blue: #4C96EA;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    color: white;
    overflow: hidden;
    margin: auto;
    padding: 0;
    background-color: var(--bg-color);
    width: 100vw;
    height: 100vh;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10%;
}

.app-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 100%;
}

.app-logo img{
    width: 65%;
}

.nav-btns{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 60%;
    height: 100%;
}

.nav-btn{
    width: 150px;
    height: 30px;
    border-radius: 2px;
    transition-duration: 200ms;
}

.nav-btn:hover{
    transition-duration: 200ms;
}

.dropdown:hover .dropdown-content{
    display: flex;
    animation: slide-down 300ms ease-in-out;
}

.dropdown-content{
    display: none;
    position: absolute;
    background-color: white;
    min-width: 150px;
    max-width: 250px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    flex-direction: column;
    justify-content: flex-start;
}

.dropdown-content a{
    text-decoration: none;
    color: black;
    padding: 5px;
}

.usr-action{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 100%;
}

header{
    display: flex;
    justify-content: flex-start;
    gap: 5%;
    background-color: var(--grey);
    width: 100%;
    height: 5%;
}

.workspace-name, .table-name{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 100%;
}

main{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 100%;
}

.opt-btns{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 20%;
    height: 100%;
    position: fixed;
    left: -17%;
    background-color: var(--grey);
}

.top{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 2%;
    padding-top: 40px;
    width: 100%;
    height: 75%;
}

.opt-btn{
    width: 250px;
    height: 50px;
    border-radius: 2px;
    transition-duration: 200ms;
}

.opt-btn:hover{
    transition-duration: 200ms;
}

.dropdown-opt-content{
    display: none;
    align-items: center;
    position: absolute;
    background-color: white;
    min-width: 250px;
    max-width: 250px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    flex-direction: column;
    justify-content: flex-start;
}

.active{
    display: flex;
    animation: slide-down 300ms ease-in-out;
}

.dropdown-opt-content a{
    text-decoration: none;
    color: black;
    padding: 10px;
}

.bottom{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 5%;
    padding-right: 25px;
}

.open-animation{
    animation: slide-to-right 300ms ease-in-out;
    left: 0%;
}

.close-animation{
    animation: slide-to-left 300ms ease-in-out;
}

.arrow-btn{
    background: none;
}

.fa-circle-arrow-left, .fa-circle-arrow-right{
    scale: 1.8;
}

.board-space{
    width: 97%;
    height: 100%;
    padding-top: 25px;
    padding-left: 80px;
    background-color: lightseagreen;
}

.list-of-tasks{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
    min-height: 150px;
    padding: 0 10px 0 10px;
    border-radius: 5px;
    color: black;
    background-color: grey;
}

.header-list{
    width: 330px;
    height: 15%;
}

.items-list{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.items-list p{
    margin: 0;
}

.task{
    max-width: 330px;
    max-height: 150px;
    margin-bottom: 20px;
    border-radius: 5px;
    background-color: lightgray;
}

.color-band{
    width: 100%;
    height: 20px;
    border-radius: 5px 5px 0 0;
    background-color: red;
}

.task-content{
    padding: 5px;
}

.add-task{
    width: 330px;
    height: 30px;
    margin-bottom: 20px;
}

.add-task-btn{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    font-size: 1.5rem;
}

.add-task-btn:hover{
    background-color: white;
}

/* Animations */

@keyframes slide-down {
    0% {
        transform: translateY(-10px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slide-to-right {
    0% {
        transform: translateX(-300px);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes slide-to-left {
    0% {
        transform: translateX(300px);
    }
    100% {
        transform: translateX(0);
    }
}